.footer {
    background-color: #111;
    padding: 0;
    margin:auto;
    text-align: center;
    color:white;
    font-size: .5em;

     /* UNSELECTABLE */
     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
}


.donateButton {
    height: 2em;
    margin:auto;
}